* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-raleway);
}

:root {
  --gradient-primary: hsl(6, 100%, 80%);
  --gradient-secondary: hsl(335, 100%, 65%);
  --clr-neutral-blue-200: hsl(243, 100%, 93%);
  --clr-neutral-grayish-blue: hsl(229, 7%, 55%);
  --clr-neutral-blue-850: hsl(228, 56%, 26%);
  --clr-neutral-blue-950: hsl(229, 57%, 11%);
  --fs-paragraph: 0.875rem;
  --ff-raleway: "Raleway", sans-serif;
  --fw-base: 400;
  --fw-bold: 700;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100dvh;
  width: 100%;
  background-image: url(./images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  max-width: 48rem;
  width: 100%;
  min-height: 41rem;
  gap: 2rem;
}

.storage-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-width: 48rem;
  min-height: 10rem;
  width: 100%;
  height: 100%;
  background-color: var(--clr-neutral-blue-850);
  padding: 2.5rem;
  border-radius: 0.625rem 6rem 0.625rem 0.625rem;
  gap: 1.8rem;
}

.storage-type {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: none;
  padding: 1rem;
  background-color: var(--clr-neutral-blue-950);
  border-radius: 0.625rem;
}

.data-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-neutral-blue-850);
  border-radius: 0.625rem;
  max-width: 48rem;
  min-height: 7rem;
  width: 100%;
  height: 100%;
  padding: 2.5rem 2rem 2.5rem 2rem;
  gap: 1rem;
  position: relative;
}

p {
  font-size: var(--fs-paragraph);
  color: var(--clr-neutral-grayish-blue);
  font-weight: 400;
}

p strong {
  color: var(--clr-neutral-blue-200);
}

.total-data {
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 48rem;
  min-height: 1.4rem;
  width: 100%;
  height: 100%;
  padding: 0.225rem;
  background-color: var(--clr-neutral-blue-950);
  border-radius: 2rem;
  overflow: hidden;
}

.used-data {
  display: flex;
  justify-content: end;
  align-items: center;
  max-width: 48rem;
  min-height: 1.2rem;
  width: 85%;
  height: 100%;
  border-radius: 2rem;
  padding: 0.225rem;
  background-image: linear-gradient(
    to right,
    var(--gradient-primary),
    var(--gradient-secondary)
  );
}

.used-data span {
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: var(--clr-neutral-blue-200);
  padding: 0.425rem;
}

.data-range {
  max-width: 48rem;
  width: 100%;
}

.data-range .range {
  display: flex;
  justify-content: space-between;
  max-width: 48rem;
  width: 100%;
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-blue-200);
}

.data-remaining {
  position: absolute;
  top: 85%;
  transform: translateX(-50%);
  left: 47.4%;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 11rem;
  min-height: 3.5rem;
  width: 50%;
  height: 30%;
  background-color: var(--clr-neutral-blue-200);
  border-radius: 0.625rem;
}

.data-remaining h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.8rem;
  color: var(--clr-neutral-blue-950);
}

.data-remaining h2 .data-left {
  font-size: 0.75rem;
  color: var(--clr-neutral-grayish-blue);
  display: flex;
  gap: 0.325rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
